Проверка на валидность карты
1) .cub                                                     +
2) открытие .cub                                            +
3) в конце строки не должно быть переодов строки            +
4) пробелы в начале
5) пробелов в конце строк не должно быть
6) цвет от 0. до 255
7) между значениями цветов не должно быть пробелов
8) карта должна быть закрыта
9) должны быть все параметры и каждый должен быть 1 раз
10) в карте могут быть 1 герой и только цифры 1,2,0
11) разрешение должно быть >0
12) разрешение не должно быть больше экрана
13) после карты не должно быть строк но пробелы можно
14) валидность текстур
15) игрок должен быть окружён стенами
16) рядом с 0 не должно быть пустоты
17) после карты не должно быть построй строки с пробелами
